{% extends 'base.html' %}
{% load static %}

{% block content %}

    <p></p>
    <center>
    <img src="/static/images/relasi.png" alt="relasi" width="500px">>
    </center>

    <p></p>
    <p style="font-family: 'times new roman'">{{ gbrumum }}</p>
    <h6 >Definisi 2.1</h6>
    <p style="font-family: 'times new roman'">Bilangan bulat a membagi (habis) bilangan bulat b (ditulis a|b), apabila ada suatu bilangan bulat k, sedemikian hingga b= ka. Jika a tidak membagi (habis) b, maka ditulis a|b</p>
    <h6 >Contoh 2.1</h6>
    <p style="font-family: 'times new roman'">a) 5|30, karena ada suatu bilangan bulat, yaitu 6, sedemikian hingga 5.6 = 30</p>
    <p style="font-family: 'times new roman'">b) 7|-21, sebab ada suatu bilangan bulat, yaitu -3, sedemikian. hingga 7.(-3) = -21</p>
    <h6 >Istilah: </h6>
    <p style="font-family: 'times new roman'">Untuk seterusnya istilah "membagi habis" dan "terbagi habis" berturut-turut disingkat menjadi "membagi" dan "terbagi". Selanjutnya, kalimat-kalimat "a membagi b" dan "b terbagi oleh keduanya disimbolkan dengan "a|b". Istilah-istilah lain yang mempunyai arti sama dengan simbol a|b adalah "a ialah faktor dari b", "a ialah pembagi dari b" atau "b ialah kelipatan dari a".</p>

    <center>
        <h3 style="background-color:rgb(74, 231, 255);">LATIHAN</h3>
    </center>
    <p style="font-family: 'times new roman'">{{ prodi }}</p>
    
{% endblock %}