{% extends 'base.html' %}
{% load static %}

{% block content %}

<p></p>
<center>
    <img src="/static/images/Ayuu.jpeg" alt="Foto diri sendiri" width="250px">
</center>

<p></p>
<center>
    <h3 style="background-color: rgb(74, 231, 255);">Biodata Penulis</h3>
</center>
<p style="font-family: 'times new roman'">Nama : Ayu Yuningsih</p>
<p style="font-family: 'times new roman'">NIM : 2225210105</p>
<p style="font-family: 'times new roman'">Kelas : 3C</p>
<p style="font-family: 'times new roman'">Dosen Pengampu : Aan Hendrayana</p>
<hr />

<footer>
    <div class="font-small">&copy; Teknologi Informasi dan Komunikasi Untuk Pembelajaran</div> 
    <div class="font-small">@ay.yuy_</div>
</footer>


{% endblock %}